body {
  background-color: white;
  min-height: 100%;
}

html,body, header, footer, .row {
  padding:0;
  margin:0;
}

html, body, .container-fluid, .row {
  height: 100%;
  margin-bottom: 0;
  vertical-align: middle;
}

/*Tweak this to best match sidenav*/
li a:hover:not(.active) {
  color: #0a7f12;
  background-color: white;
  border-radius: 25px;
  border: 2px solid black;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

td a:hover:not(.active){
  color: white;
  text-decoration: none;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

#intro{
  position: absolute;
  text-align: center;

  left: 60px;
  top: 40px;
  width: 250px;
  border: 3px solid green;
}

#profile{
  position: relative;
  text-align: middle;
  vertical-align: text-top;


	max-width:100%;
	height:auto;
  border: 6px solid black;
}

.infocol{
  position: relative;
  overflow-y: scroll;
  background: #1ebc28;
  background: linear-gradient(to right, #1ebc28 , #0a7f12);
  height: 100%;
  min-height: 100%;
}

.infocol h1 {
  font: 55px/65px Futura, sans-serif;
  color: #e3e5e8;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.infocol h2, .infocol td em, .infocol li {
  color: #7f7a7a;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.infocol a{
  color: #3a3a3a;
}

.infocol p, .infocol li, .infocol td {
  font: 20px Helvetica, sans-serif;
}

.navmenu{
  min-height: 100%;
  vertical-align: middle;
}

.navbar {
  vertical-align: middle;
}

.navbar ul{
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  list-style: none;
  vertical-align: middle;
  margin: 30px 40px 30px 0px;
}

.navbar li{
  margin: 30px 10px 30px 10px;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.sec{
  margin: 250px 0px 500px 0px;
}

.sidenav{
  position: relative;
  background-color: #0a7f12;
  background: radial-gradient(#1ebc28 , #0a7f12);

  max-height: 100%;
  font-size: 150%;
  vertical-align: middle;
  overflow-y: hidden;
  height:100%;
  min-height: 100%;
}

.sidenav a{
  color: white;
  text-decoration: none;
}

.spacer{
  margin: 0px 70px 0px 70px;
}
